.container {
  width: 100%;
  padding: 22px 0;

  display: flex;
  gap: 12px;

  overflow-x: auto;
  white-space: nowrap;
}

.tile {
  width: 100%;
  min-width: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  box-shadow: 0px 2px 2px 0px #0000001a;

  border-radius: 10px;
  padding: 0.25rem 0;
  cursor: pointer;

  transition: all 150ms ease;
}

.tile:hover {
  background-color: #a0ae90;
  color: white;
}

.icon {
  margin: 0.5rem;

  height: 44px;
  width: 44px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
