.smallCardGrid {
  display: grid;
  /* prior: auto fit 2 x 191px or 1fr */
  grid-template-columns: repeat(2, calc(calc(100vw - 48px)/2));
  gap: 16px;
  margin: 0 auto;
  max-width: calc(calc(430px - 48px)/2);
}

.smallCardGridTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  margin: 30px 0 16px;
}