.dino-of-the-day {
  margin-top: 22px;
  flex-direction: row;
}

.dino-of-the-day__heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.dino-of-the-day__card {
  display: flex;
  flex-direction: column;
  box-shadow: -5px 5px 10px 0px #4a765c40;
}

.dino-of-the-day__image {
  display: block;

  border-radius: 10px 10px 0px 0px;
}

.dino-of-the-day__text {
  background-color: white;
  padding: 20px 10px 10px;
}

.dino-of-the-day__title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.dino-of-the-day__description-container {
 margin-bottom: auto;
}

.dino-of-the-day__description {
  margin: 8px 0 0;
  font-size: 16px;
  
  display: inline;
}
/* 
.collapsed {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expanded {
  white-space: normal;
} */

.learn-more__btn {
  display: block;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  color: var(--orange);
  background: transparent;
  border: 0;
  padding: 0;
  margin: 5px 0 0 auto;
}

@media screen and (min-width: 550px) {
  
  .dino-of-the-day__image {
    max-width: 60%;
    height: 387px;
    max-height: 500px;
    border-radius: 20px 0 0 20px;
  }

  .dino-of-the-day__card {
    flex-direction: row;
    border-radius: 20px 0 0 20px;
  }

  .dino-of-the-day__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    justify-content: space-between;
    flex-grow: 1;
  }

  .dino-of-the-day__title {
    font-size: 20px;
    font-weight: 700;
  }

  .dino-of-the-day__description {
    margin: 0 0 auto;
    font-size: 15px;
    line-height: 18px;
    max-height: 260px;
    display: block;
    overflow: auto;
/* white-space: nowrap; */
    
  }

  .learn-more__btn {
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
  }
}
