.DinoPageTitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
.DinoMainImg {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

p {
  font-size: 14px;
  margin-bottom: 4px;
}

p:last-of-type {
  margin-bottom: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.descriptionBox {
  display: flex;
  column-gap: 4px;
}

.boldCatTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;

}

.description {
  line-height: 22px;
}

.loading { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapImg {
  max-width: 100%;
}