.smallCard {
  width: Hug (191px);
  height: Hug (228px);
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.smallCardImage {
  width: 191px;
  height: 191px;

  border-radius: 10px 10px 0 0;
  opacity: 0px;

}

.smallCardTitle {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px;
}
