.smallCardGrid {
  display: grid;
  /* prior: auto fit 2 x 191px or 1fr */
  /* calc(calc(100vw - 48px)/2) calc(calc(100vw - 48px)/2); */
  grid-template-columns: repeat(auto-fit, minmax(191px, 1fr) );
  gap: 16px;
  /* margin: 0 auto; */
  max-width: 191px;
}

.smallCardGridTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  margin: 30px 0 16px;
}