.smallCardGrid {
  display: grid;
  /* prior: auto fit 2 x 191px or 1fr */
  /* calc(calc(100vw - 48px)/2) calc(calc(100vw - 48px)/2); */
  grid-template-columns: repeat(auto-fill, minmax(143px, 1fr));
  gap: 16px;
  /* margin: 0 auto; */
}

.smallCardGridTitleContainer{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.smallCardGridTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  margin: 30px 0 16px;
}

.sortBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--orange);
  font-size: 12px;
}

@media screen and (min-width: 550px) {
  .smallCardGridTitle {
    font-size: 24px;
    margin: 30px 0 20px;
  }
  .smallCardGrid {
    grid-template-columns: repeat(auto-fill, minmax(259px, 1fr));
    gap: 20px;
  }

  .smallCardGridTitleContainer {
    position: relative;
  }
}
