.dinoContainer {
  margin: 0;
  background-color: var(--container-color);
}
.dinoContainer:first-child  {
  background-color: red;
}
.DinoPageTitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.DinoMainImg {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

.noImageDesc {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin: -40px 0 22px;
}

.info p {
  font-size: 14px;
  margin-bottom: 4px;
}

.capitalize {
  text-transform: capitalize;
}

.descriptionBox, .descriptionBox {
  display: flex;
  column-gap: 4px;
}

.boldCatTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.description {
  line-height: 22px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapImg {
  display: flex;
  margin: 10px auto 0;
  margin-top: 10px;
  min-width: 100%;
  border-radius: 10px;
  box-shadow: -5px 5px 10px 0px #4A765C33;

}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100dvh - 300px);
}

@media screen and (min-width: 550px) {
  .DinoMainImg {
    width: 100%;
    max-height: 516px;
  }

  .DinoPageTitle {
    font-size: 24px;
  }

  .info p{
    font-size: 16px;
    /* margin-bottom: 16px; */
  }
  .mapImg{
    margin: 36px auto 0;
    /* width: 100%;
    height: auto; */
  }
}
@media screen and (min-width: 1024px) {
  .dinoContainer > * {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
            "title title"
            "img info"
            "desc desc"
            "map map";
    column-gap: 24px;
  }
  .DinoPageTitle {grid-area: title;}
  .DinoMainImg {grid-area: img;}

  .info p{
    grid-area: info;
    margin-bottom: 25px;
    font-size: 16px;
  }
  .descriptionBox {
    grid-area: desc;
    font-size: 16px;}

  .boldCatTitle, 
  .descriptionBox, 
  .info p {
    font-size: 16px;
  }
  .mapImg {grid-area: map;}
}
