.filter-modal {
  max-width: 430px;
  width: 100%;
  min-height: calc(100vh - 62px);

  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0;

  background: white !important;
  border-radius: 12px 12px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid #eaeaea;

  display: flex;
  flex-direction: column;
}
