.filter-content {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid black;
  padding: 1rem;
  gap: 1rem;
}

.cards {
  padding-right: 0;
}

.filter-close {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.filter-close svg {
  cursor: pointer;
}

.filter-small-title {
  font-weight: 700;
}

.chips-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: auto;
}

.single-chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  background: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
}

.single-chip img {
  width: 44px;
  height: 44px;
}

.type-text {
  font-weight: 500;
  font-size: 10px;
  text-wrap: nowrap;
}

.bold-text {
  font-weight: 700;
  font-size: 10px;
  text-wrap: nowrap;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  padding-top: 2rem;
}

.filter-buttons button {
  font-weight: 700;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

.filter-buttons button:nth-child(1) {
  background-color: white;
}

.filter-buttons button:nth-child(2) {
  background-color: #d3d3d3;
}
