.filter-modal {
  z-index: 100;
  position: fixed;

  max-width: 430px;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  padding: 0.5rem 0;

  min-height: calc(100vh - 62px);
  background: #d3d3d3 !important;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  display: flex;
  flex-direction: column;
}
