.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: #08080833;
  z-index: 300;
}

.filter-modal {
  width: 100%;
  max-width: 1000px;

  min-height: calc(100vh - 62px);
  max-height: 90%;


  padding: 0.5rem 0;

  background: white !important;
  border-radius: 12px;
  border: 1px solid #eaeaea;

  display: flex;
  flex-direction: column;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  overflow-y: auto;
}

/* SCROLLBAR */
.filter-modal::-webkit-scrollbar {
  width: var(--sb-size);
}

.filter-modal::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

.filter-modal::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
  .filter-modal {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

}
