.nav-container {
  background-image: url('../assets/nav-bg.svg');
  background-repeat: repeat;
  width: 100%;
  height: 97px;

  display: flex;
  justify-content: center;
}

.nav-logo {
  height: 47px;
  margin-top: 7px;
}
