.newsContainer {
  margin-top: 3rem;
}

.newsCardGrid {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: -5px 5px 10px 0px #4a765c40;
  padding: 16px;
}

.newsCardGridLabel {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
}
