.newsCard {
  padding:0px 10px;
}

.newsCardHeadline {
  width: 378px;

  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  padding-top: 12px;
}

.newsCardSummary {
  width: 378px;
  font-size: 14px;
  line-height: 17.07px;
  padding-top: 4px;
}