.horizontal-slider {
  width: 100%;
}

.horizontal-slider .slider-track {
  top: calc(50% - 2px);
  height: 4px;
}

.slider-track {
  background: var(--orange);
}

.slider-thumb {
  background: var(--orange);

  top: calc(50% - 10px);

  border-radius: 50%;
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;

  line-height: 60px;
  font-weight: 700;
}

.slider-thumb:focus {
  outline: none;
}
