.modal-overlay {
  z-index: 9999;

  width: 100%;
  height: 100%;

  background: #08080833;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: end;
}

.modal-box {
  display: block;
  background: white;

  width: 100%;
  max-width: 830px;
  height: auto;

  padding: 16px 16px;
  border-radius: 10px 10px 0 0;
}

.grayLine {
  display: block;
  border: #f1f2f1 solid 1px;
  width: 40%;
  margin: 10px auto 29px;
}

.sortTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.radioContainer {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.radioContainer {
  cursor: pointer;
}

.radioContainer input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid var(--orange);
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
  cursor: pointer;
}

.radioContainer input:checked {
  background-color: black;
  box-shadow: inset 0 0 0 1px white;
}

button:hover,
button:focus {
  color: #080808;
}

button:active {
  color: black;
}
