*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 9%;
    background: linear-gradient(130deg, rgba(67, 30, 91, 0.4) 0%, rgba(179, 0, 0, 0.4) 50%, rgba(149, 89, 5, 0.6) 100%);
    font-family: Inter;
}

.container{
    max-width: 430px;
    height: 150vh;
    margin: 0 auto;
    background-color: white;
}

.nav {
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 62px;
    max-width: 430px;
    margin: 0 auto;
    padding: 0 19px;
}

.nav-logo {
    margin: 0 auto;

    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.menu {
    width: 24px;
    height: 24px;
}
h2 {
    margin: 0;
}