*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
  height: auto;
  background: linear-gradient(
    130deg,
    rgba(67, 30, 91, 0.4) 0%,
    rgba(179, 0, 0, 0.4) 50%,
    rgba(149, 89, 5, 0.6) 100%
  );
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  margin: 0 auto;
  background-color: #f5f5f5;
  max-width: 430px;
}

.container {
  min-height: calc(100vh - 62px);
  height: auto;
  padding: 53px 16px;
}

.nav, .bottom-nav {
  background: #ffffff;
  width: 100vw;
  max-width: 430px;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
}

.nav {
  justify-content: center;
  padding: 0 19px;
  height: 62px;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bottom-nav {
  position: fixed;
  height: 80px;
  bottom: 0;
  left: 50%;
  right: 50%;
  margin: 0 -215px;

  justify-content: space-between;
  border-top: 1px solid black;
  padding: 10px 85px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 60px;
  width: 60px;
}

.nav-link p {
  margin: 8px 0 0;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.19px;

}

.nav-img {
  height: 24px;
  width: 24px;
}

.nav-logo {
  position: absolute;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.backArrow {
  margin-right: auto;
  color: transparent;
  margin: none;
}

.home-title {
  margin: 0;
}

.card-title {
  margin: 24px 0 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.dino-card--img {
  width: 100%;
  border-radius: 10px;
}

.dino-card--name {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.dino-card--desc {
  font-size: 14px;
  line-height: 17px;
}

.learn-more-btn {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  background-color: transparent;
  border: none;
  display: flex;
  margin-left: auto;
}
